<div class="jumbotron">
    
    <h1 class="display-4">Typescript-NodeJS. Simple CRUD!</h1>
    
    <p class="lead">Create simple tasks</p>
    
    <hr class="my-4">
    
    <p>Write your tasks and edit them</p>

    <a class="btn btn-primary btn-lg btn-block" href="/tasks/list" role="button">See List of Tasks</a>

</div>